body {
  background-color: bisque;
}
.Navbar{
  background-color: chartreuse;
}
.card{
  height: 700px;
  width: 250px;
}
.card-body {
  height: 350px;
  width: 250px;
}
.card-img-top {
  width: 250px;
}
